/* Gloal Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: whitesmoke;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.6rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}

h2 {
  font-size: 4.8rem;
  font-size: 500;
}

h3 {
  font-size: 3rem;
  font-weight: 400;
}
h4,
h5 {
  font-size: 2.8rem;
}

a {
  color: whitesmoke;
  text-decoration: none;
}

button {
  padding: 2rem 6rem;
  background: #4c6e97;
  border: none;
  color: whitesmoke;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.4s ease-in-out;
  animation: cloudAnimation 2s infinite alternate 2s;
  animation-iteration-count: 3;
}
button:hover {
  background: #26374d;
}

/* Nav and Hero Section */
.main-head {
  background: #131c27;
  color: whitesmoke;
}
nav {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex: wrap;
}

.nav-links ul li{
  margin: 0 5em;
}

nav ul {
  display: flex;
  flex: 1 1 60rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-right: -10em;
}

/*MOBILE MENU STYLE*/
.mobile-nav-links{
  display: none ;
  color: white;
  position: absolute;
  right: 0;
  height: 23vh;
  width: 40vh;
  background-color: #131c27; 
  flex-direction: column;
  text-align: center;
  padding: 30px;
}

.mobile-nav-links li{
  position: relative;
  height: 1000px;
  right: 30px;
  top: 30px;
  border-top: 3px solid #26374d;
  width: 34vh;
  padding-top: 15px;
  cursor: pointer;
}

.mobile-nav-links li:hover{
  background-color: #26374d;
}


/* HIDE HAMBURGER ICON ON DESKTOP */
nav .fa-bars{
  display: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* BENEFITS SECTION */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.9), transparent),
    url(./img/03.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.locations-head {
  color: whitesmoke;
  width: 90%;
  margin: auto;
}
.locations-head h2 {
  padding: 1rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}
.locations-head h3 {
  /* color: whitesmoke; */
  padding: 4rem 0rem;
}

.cloud {
  position: absolute;
  top: -20%;
  right: 0%;
}

.moving-cloud-1 {
  animation: cloudAnimation 3s infinite alternate ease-in-out;
}
.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 2.5s infinite alternate ease-in-out;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* Benefits Section */

.benefits-head {
  background: #343c44;
  padding: 3rem;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  text-align: center;
}
.benefits-head h3 {
  padding: 1rem;
}

.cards {
  width: 90%;
  margin: auto;
  display: flex;
  min-height: 70vh;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  flex: 1 1 25rem;
  min-height: 40vh;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}

.cards img {
  max-width: 15%;
  margin: 2rem;
}

.card h4,
.card p {
  padding: 1.5rem;
}

.card-icon {
  background: rosybrown;
}
/* Media Query */
@media screen and (max-width: 932px) {
  html {
    font-size: 45%;
  }
  nav {
    text-align: center;
  }

  /* HAMBURGER MENU STYLE*/
  nav .fa-bars{
    display: block;
    font-size: 3.5rem;
    cursor: pointer;
    z-index: 1;
  }

  nav ul{
    display: none;
  }

  #logo {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    font-size: 4rem;
    z-index: 1;
  }
  .cloud {
    height: 40rem;
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    z-index: -2;
  }
  .locations-head h3 {
    background: rgba(14, 14, 14, 0.5);
    -webkit-text-fill-color: whitesmoke;
    border-radius: 1rem;
    padding: 3rem;
  }
}
